{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "comma-dangle": [2, "never"],
    "no-multi-spaces": 2
  },
  "ecmaFeatures": {
    "modules": true
  }
}
